---
import Author from '../Author.astro';
---

<div
	class='about-the-author py-4 border-b'
>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>about the author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			m0ne 是一名工科硕士在读，常在这里记录技术学习、生活感悟和一些折腾过的小项目。
		</p>
		<p></p>
	</div>
</div>

