---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import ME from '@src/assets/img/me.jpg';
import Prose from '../components/Prose.astro';
---

<BaseLayout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
>
  <div class='container'>
		<main class='prose text-lg dark:prose-invert'>
      <article>
        <div class='w-full md:flex md:items-center gap-16 mb-10'>
          <div class="text-pretty leading-9">
            <h1 class="text-4xl font-bold mb-4">你好 👋, m0ne 在此！ </h1>
            <Prose>
              <div class="text-lg">
                <p>我是一名工科在读硕士生，喜欢折腾技术小玩意，也会记录生活里的长文、碎片想法、随手拍和一些项目实践。这个站点基于 <a href="https://devolio.devaradise.com" target="_blank" rel="nofollow noopener">Devolio</a> 模板继续改造，点子是灵光一现的，技术栈是空空如也的，并非我有多强，无他，唯 AI 工具牛逼尔。</p>
              </div>
            </Prose>
          </div>
          <Image
            src={ME}
            alt="m0ne"
            width={720}
            sizes="(min-width: 768px) 300px, min(100vw - 2rem, 300px)"
            class="w-full max-w-[300px] rounded-3xl rotate-3 mx-4 md:mx-0"
          />
        </div>     
        <div>
        </div>
        </article>
      </article>
    </main>
  </div>
</BaseLayout>
