---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import ME from '@src/assets/img/me.jpg';
import Prose from '../components/Prose.astro';
---

<BaseLayout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
>
  <div class='container'>
		<main class='prose text-lg dark:prose-invert'>
      <article>
        <div class='w-full md:flex md:items-center gap-16 mb-10'>
          <div class="text-pretty leading-9">
            <h1 class="text-4xl font-bold mb-4">你好 👋, m0ne 在此！ </h1>
            <Prose>
              <div class="text-lg">
                <p>工科在读硕士生，ENFP，喜欢折腾技术小玩意，也会记录生活里的长文、碎片想法、随手拍和一些项目实践。这个站点基于 <a href="https://devolio.devaradise.com" target="_blank" rel="nofollow noopener">Devolio</a> 模板继续改造，建站初衷是自己不想在各个平台上七零八碎散落各种记录了，想拥有一个自己的赛博小房子。点子是灵光一现的，技术栈是空空如也的，并非我有多强，无他，唯 AI 工具牛逼尔。</p>
                <p>教育背景</p>
                <ul class="text-base">
                  <li>2024.9 - 至今，中国科学院大学，网络空间安全学院，网络与信息安全专业，硕士研究生</li>
                  <li>2021.9 - 2024.7，南京邮电大学，继续教育学院，金融工程专业，本科（自考）</li>
                  <li>2020.9 - 2024.7，南京邮电大学，物联网学院，网络工程专业，本科</li>
                  <li>2017.9 - 2020.7，湖南省长沙市明德中学，高中</li>
                  <li>2014.9 - 2017.6，湖南省桑植县十一中学，初中</li>
                  <li>2008.9 - 2014.6，湖南省桑植县第一小学，小学</li>
                </ul>
                <p>联系方式</p>
                <ul class="text-base">
                  <li>
                    邮箱：
                    <a href="mailto:workminet@protonmail.com">workminet@protonmail.com</a>
                  </li>
                </ul>
              </div>
              <p></p>
            </Prose>
          </div>
          <Image
            src={ME}
            alt="m0ne"
            width={720}
            sizes="(min-width: 768px) 300px, min(100vw - 2rem, 300px)"
            class="w-full max-w-[300px] rounded-3xl rotate-3 mx-4 md:mx-0"
          />
        </div>     
        <div>
        </div>
        </article>
      </article>
    </main>
  </div>
</BaseLayout>
