<a href="/">main page</a>
<a href="/about">about</a>
<a href="/blog">blog</a>

<h1>my blog</h1>
<ul>
  <li>
    <a href="/posts/post-1/">文章 1</a>
    <a href="/posts/post-2/">文章 2</a>
    <a href="/posts/post-3/">文章 3</a>
  </li>
</ul>
